---
layout: page
---
<style>
  .col-md-4 h4 {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: block;
  }
</style>

<h1 class="category">{{ page.title }}</h1>

{{content}}

{% for post in site.categories[page.category] %}
  {% unless post.archived %}
    {% cycle '<div class="row">', '', '' %}
    <div class="col-md-4">
      {% assign targetBlank = '' %}
      {% if post.url contains 'https' %}
        {% assign targetBlank = 'target="_blank"' %}
      {% endif%}
      {% assign postUrl = post.url %}
      {% if post.redirect_to contains 'https' %}
        {% assign postUrl = post.redirect_to %}
      {% endif%}
      <h4><a href="{{ postUrl }}" title="{{ post.title }}" {{targetBlank}}>{{ post.title }}</a></h4>
      {% if post.thumbnail %}
        <p><a href="{{ postUrl }}" class="thumbnail" {{targetBlank}}><img src="{{post.thumbnail}}"></a></p>
      {% else %}
        <p>{{ post.excerpt }}</p>
      {% endif %}
    </div>
    {% cycle '', '', '</div>' %}
  {% endunless %}
{% endfor %}
