---
layout: page
title: About
redirect_from: /license/
redirect_from: /contact/
---
%h1 About
%a{href: "http://en.gravatar.com/cmanning88"}
  %img.pull-right.img-responsive.thumbnail{alt: "Christopher Manning Gravatar", src: "http://www.gravatar.com/avatar/3f9394a7fb1070144a59644462eb4916?s=150"}/
:markdown
  Christopher Manning lives in Chicago, Illinois where he works as a software engineer.
  In his free time, he enjoys public speaking, experimenting with new technologies, making music, and creating art.

%h2 Profiles
%ul
  %li
    %a{:href => "https://twitter.com/cmanning88", :target => "_blank"} Twitter
  %li
    %a{:href => "http://github.com/christophermanning", :target => "_blank"} GitHub
  %li
    %a{:href => "http://www.linkedin.com/in/christophermichaelmanning", :target => "_blank"} LinkedIn
  %li
    %a{:href => "http://stackexchange.com/users/e584dc9a00e74b29ab4cc5e793a80c2e", :target => "_blank"} Stack Exchange
  %li
    %a{:href => "http://vimeo.com/christophermanning", :target => "_blank"} Vimeo
  %li
    %a{:href => "https://observablehq.com/@christophermanning", :target => "_blank"} Observable

%h2 License
%ul
  %li
    %h3 Software
    %p
      :markdown
        As suggested by the [Open Source Initiative](http://opensource.org/licenses), I use an [MIT license](http://christophermanning.mit-license.org/) for source code I release.
  %li
    %h3 Content
    %a.pull-right{href: "http://creativecommons.org/licenses/by-sa/3.0/us/", rel: "license"}
      %img{alt: "Creative Commons License", height: "31", src: "http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png", width: "88"}/
    %p
      :markdown
        This website and its contents (images, videos, audio, etc.) are licensed by [Christopher Manning](http://www.christophermanning.org) under a [Creative Commons Attribution-Share Alike 3.0 United States License](http://creativecommons.org/licenses/by-sa/3.0/us/).
  %li
    %h3 Attribution
    %p
      :markdown
        When crediting me for my work, please use my name **Christopher Manning**, website **christophermanning.org**, and the title of the work ([contact me](/contact/) if the title is not listed).

%h2 Disclaimer
This is a personal website.
The information on this website is provided "AS IS" with no warranties, confers no rights, and is for informational purposes only.
The opinions and views expressed on this website are my own and are not necessarily those of my employer or any other entity.
