---
layout: page
projects:
- /projects/building-cubic-hamiltonian-graphs-from-lcf-notation
- /projects/voronoi-diagram-with-force-directed-nodes-and-delaunay-links
- /projects/kaprekar-routine
---
.row{style: "margin-top:20px"}
  .col-md-8
    {% for project_id in page.projects %}
      {% comment %} Wacky way of looking up a post by id {% endcomment %}
      {% for post_finder in site.categories.projects %}
        {% if post_finder.id == project_id %}
          {% assign post = post_finder %}
        {% endif %}
      {% endfor %}
    %div
      %h4
        %a{:href => "{{ post.redirect_to }}", :title => "{{ post.title }}", :target => "_blank"} {{ post.title }}
      {% if forloop.index == 1 %}
      %p
        %a.thumbnail{:href => "{{ post.redirect_to }}", :target => "_blank"}
          %img{:src => "{{post.thumbnail_gif}}"}/
      {% endif %}
    {% endfor %}
    %small
      %a.btn.btn-primary.btn-xs{:href => "/projects"} more &raquo;

  .col-md-4{style: "margin-top:35px"}
    %p
      Christopher Manning lives in Chicago, Illinois where he works as a software engineer.
      In his free time, he enjoys public speaking, experimenting with new technologies, making music, and creating art.

    %p
      %a{:href => "https://observablehq.com/@christophermanning", :target => "_blank"} Observable
      ·
      %a{:href => "https://github.com/christophermanning", :target => "_blank"} GitHub
      ·
      %a{:href => "https://www.linkedin.com/in/christophermichaelmanning", :target => "_blank"} LinkedIn

  .col-md-4
    %h4 Writing
    {% for post in site.categories.writing %}
    {% unless post.archived %}
    %h4
    %a{:href => "{{ post.url }}", :title => "{{ post.title }}"} {{ post.title }}
    {% if post.thumbnail %}
    %a.thumbnail{:href => "{{ post.url }}"}
    %img{:height => "200", :src => "{{post.thumbnail}}"}/
    {% endif %}
    {% endunless %}
    {% endfor %}

